<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="yandex-verification" content="407f4e4c7d9baa5d" />
  <meta name="google-site-verification" content="vNQ92qLg9UOFvDLhOBa-koWzRv7IZ_yeIwUTU3HSZjc" />
  {% seo %}
</head>
<body>
  <header>
    <h1><a href="/">Экскурсии по Казани</a></h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>Авторские экскурсии по Казани от местных гидов</p>
  </footer>
</body>
</html>
